:root {
  --text: #894a1d;
  --text-h: #3d1d00;
  --bg: #f1d2af;
  --border: #9b774c;
  --accent: #921e01;

  --heading: "Palatino Linotype", "Cinzel", "Georgia", serif;
  --writing: "Garamond", "Georgia", sans-serif;
}

html.dark-mode {
  --bg: #0d0d14;
  --text: #b3b3b3;
  --text-h: #f3f4f6;
  --border: #464646;
  --accent: #b050f5;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html * {
  accent-color: var(--accent)
}

html {
  transform: scale(0.85);
  transform-origin: top;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
}

nav {
  padding: 1rem 2rem .75rem 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border);
}

a, a:visited {
  color: var(--accent)
}


h1, h5, h6 {
  font-family: var(--heading);
  font-weight: 0;
  color: var(--text-h);
  margin: 0 0 0 0;
}

h2, h3, h4, p {
  font-family: var(--writing);
  font-weight: 1;
  color: var(--text);
  margin: 0 0 0 0;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
}
h2 {
  font-size: 40px;
  letter-spacing: -0.24px;
}
h3 {
  font-size: 20px;
  letter-spacing: -0.24px;
}
h4 {
  font-size: 18px;
  letter-spacing: -0.24px;
}
h5 {
  font-size: 15px;
  letter-spacing: 0.6px;
  color: var(--text)
}
h6 {
  font-size: 14px;
  letter-spacing: 0.6px;
}
